/* General 
CASTILLO PRIMARIA
*/

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-Black.eot');
    src: url('fonts/Nunito-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-Black.woff2') format('woff2'),
        url('fonts/Nunito-Black.woff') format('woff'),
        url('fonts/Nunito-Black.ttf') format('truetype'),
        url('fonts/Nunito-Black.svg#Nunito-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-BlackItalic.eot');
    src: url('fonts/Nunito-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-BlackItalic.woff2') format('woff2'),
        url('fonts/Nunito-BlackItalic.woff') format('woff'),
        url('fonts/Nunito-BlackItalic.ttf') format('truetype'),
        url('fonts/Nunito-BlackItalic.svg#Nunito-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-ExtraLight.eot');
    src: url('fonts/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-ExtraLight.woff2') format('woff2'),
        url('fonts/Nunito-ExtraLight.woff') format('woff'),
        url('fonts/Nunito-ExtraLight.ttf') format('truetype'),
        url('fonts/Nunito-ExtraLight.svg#Nunito-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-Bold.eot');
    src: url('fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-Bold.woff2') format('woff2'),
        url('fonts/Nunito-Bold.woff') format('woff'),
        url('fonts/Nunito-Bold.ttf') format('truetype'),
        url('fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-ExtraBoldItalic.eot');
    src: url('fonts/Nunito-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Nunito-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Nunito-ExtraBoldItalic.ttf') format('truetype'),
        url('fonts/Nunito-ExtraBoldItalic.svg#Nunito-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-BoldItalic.eot');
    src: url('fonts/Nunito-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-BoldItalic.woff2') format('woff2'),
        url('fonts/Nunito-BoldItalic.woff') format('woff'),
        url('fonts/Nunito-BoldItalic.ttf') format('truetype'),
        url('fonts/Nunito-BoldItalic.svg#Nunito-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-ExtraBold.eot');
    src: url('fonts/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-ExtraBold.woff2') format('woff2'),
        url('fonts/Nunito-ExtraBold.woff') format('woff'),
        url('fonts/Nunito-ExtraBold.ttf') format('truetype'),
        url('fonts/Nunito-ExtraBold.svg#Nunito-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-SemiBoldItalic.eot');
    src: url('fonts/Nunito-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Nunito-SemiBoldItalic.woff') format('woff'),
        url('fonts/Nunito-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Nunito-SemiBoldItalic.svg#Nunito-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-SemiBold.eot');
    src: url('fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-SemiBold.woff2') format('woff2'),
        url('fonts/Nunito-SemiBold.woff') format('woff'),
        url('fonts/Nunito-SemiBold.ttf') format('truetype'),
        url('fonts/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-Regular.eot');
    src: url('fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-Regular.woff2') format('woff2'),
        url('fonts/Nunito-Regular.woff') format('woff'),
        url('fonts/Nunito-Regular.ttf') format('truetype'),
        url('fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-LightItalic.eot');
    src: url('fonts/Nunito-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-LightItalic.woff2') format('woff2'),
        url('fonts/Nunito-LightItalic.woff') format('woff'),
        url('fonts/Nunito-LightItalic.ttf') format('truetype'),
        url('fonts/Nunito-LightItalic.svg#Nunito-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-Italic.eot');
    src: url('fonts/Nunito-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-Italic.woff2') format('woff2'),
        url('fonts/Nunito-Italic.woff') format('woff'),
        url('fonts/Nunito-Italic.ttf') format('truetype'),
        url('fonts/Nunito-Italic.svg#Nunito-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-Light.eot');
    src: url('fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-Light.woff2') format('woff2'),
        url('fonts/Nunito-Light.woff') format('woff'),
        url('fonts/Nunito-Light.ttf') format('truetype'),
        url('fonts/Nunito-Light.svg#Nunito-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-ExtraLightItalic.eot');
    src: url('fonts/Nunito-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nunito-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Nunito-ExtraLightItalic.woff') format('woff'),
        url('fonts/Nunito-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Nunito-ExtraLightItalic.svg#Nunito-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}


body {
    font: 400 15px 'Nunito',sans-serif;
    line-height: 21px;
    color: #414141;
    background-color: #eee;
}


	.body_clase .content-wrapper {
		padding-top: 100px;
		font-family: 'Nunito';
		font-weight: 500;
		padding-bottom: 0;
		color: #676767
	}
	.body_clase.edit .content-wrapper {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	body.is_app .content-wrapper,
	body.app:not(.offline-pc) .content-wrapper,
	body.user_demo .content-wrapper {
	    margin-top: 60px;
	}

	.cke_contents  table {
		margin-bottom: 10px;
	}

	.is_app.content_type_clase_castilloprimaria2022demo {
		padding-top: 0px;
	}

	.content_type_clase_castilloprimaria2022demo #actividad {
		margin-bottom: 0px;
		-webkit-transform: none;
		-webkit-transform-style: flat;
	}


/*imagen en navbar sup.*/
	#actividad .carousel-inner .item-container {
    padding: 0px;
    padding-bottom: 90px;
    position: relative;
    background-image: url(images/fondo_slide_01.png);
    background-position-y: top;
    background-repeat: no-repeat;
	}

/*imagenes*/	
#actividad .content img {
    height: auto;
    -webkit-user-drag: none;
    border-radius: 10px;
    border: 12px solid #fff;
    box-shadow: -1px 2px 12px #00000059;
}

.zoom_flag_img {
    position: absolute;
    top: 22px;
    right: 23px;
    vertical-align: top;
    background-image: url('../../../images/shared/tools.png');
    -webkit-background-size: 81px auto;
    -moz-background-size: 81px auto;
    -o-background-size: 81px auto;
    background-size: 81px auto;
    background-position: -6px -549px;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 28px;
    width: 28px;
    background-color: rgb(75 75 75 / 90%);
}

	#actividad .carousel-inner .item-container.tmpux {
		margin-top: 75px;
	}

	.content_type_clase_castilloprimaria2022demo #actividad .content .header .title img,
	.content_type_clase_castilloprimaria2022demo #actividad .content .header .chapter {
		display: none;
	}

	#indice .units ul li a .number,
	#indice .unit-content .header .number
	 {
		visibility: hidden;
	}

	.content_type_clase_castilloprimaria2022demo #actividad .content .header {
		border: none;
	}

/*título slide*/

	.content_type_clase_castilloprimaria2022demo #actividad .content .header .title {
		margin-top: -40px;
		padding-top: 30px;
		padding-bottom: 20px;
		z-index: 100;
    	position: relative;
	}

.content_type_clase_castilloprimaria2022demo #actividad .content .header .title h3 {
	font-family: 'Nunito';
    font-size: 30px;
    font-weight: 700;
    /* z-index: 0; */
    color: #fff;
    display: block;
    padding: 30px 20px 20px 20px;
    border-radius: 0 0 20px 20px;
    margin-top: -30px;
    margin-bottom: 20px;
    background-color: #1d549e;
    margin-left: -22px;
    width: fit-content;
    position: relative;
}

.content_type_clase_castilloprimaria2022demo #actividad .content .header .title h3:before {
background: url(images/decoracion_01---copia.png);
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    padding: 125px 171px 2px 400px;
    /* width: 133%; */
    position: absolute;
    left: -66px;
    z-index: -1;
    top: -3px;
}

/*
.content_type_clase_castilloprimaria2022demo #actividad .content .header .title h3:before {
	background: url(images/decoracion_01b.png);
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    padding: 72px;
    position: absolute;
    right: 0px;
    z-index: 100;
    top: -127px;
    width: 30px;
    margin-right: 21px;
}

.content_type_clase_castilloprimaria2022demo #actividad .content .header .title h3:after {
	background: url(images/decoracion_01a.png);
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    padding: 37px;
    position: absolute;
    left: 14px;
    z-index: 10;
    top: 20px;
}*/

	.content_type_clase_castilloprimaria2022demo #actividad .content .header .title h3 span {
		display: block;
		font-size:2.2rem;
		font-weight: 400;
	}
	.content_type_clase_castilloprimaria2022demo #actividad .texto_curso,
	.content_type_clase_castilloprimaria2022demo #actividad .slide_content_type_1 .pregunta .texto_curso {
		font-size: 1.6rem;
	}

/*textos*/
.texto_curso p {
	line-height: 1.43em!important;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Nunito';
    color: #676767;
}

	.texto_curso p:last-of-type {
		margin-bottom: 15px;
	}

	#actividad .class_slide {
    	padding: 40px 88px 0px;
	}

	#actividad .class_slide:last-of-type {
	    padding-bottom: 100px;
	}

	#actividad .slide-concatenate .class_slide {
	    padding-bottom: 20px;
	}

	#actividad .slide-concatenate:last-of-type .class_slide {
	    padding-bottom: 100px;
	}

	.content_type_clase_castilloprimaria2022demo .slide_main input {
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}

	.content_type_clase_castilloprimaria2022demo .slide_main input:focus {
		border-top-color: #3AC62A;
		border-right-color: #3AC62A;
		border-bottom-color: #3AC62A;
		border-left-color: #3AC62A;
		outline-width: 0px;
		outline-style: none;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
	}

	.content_type_clase_castilloprimaria2022demo .slide_main input[disabled],
	.content_type_clase_castilloprimaria2022demo .slide_main input[readonly],
	fieldset[disabled] .content_type_clase_castilloprimaria2022demo .slide_main input {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	.content_type_clase_castilloprimaria2022demo .slide_main input.respuesta_ok {
		border-color: #57e900;
		background: #D1F3BD;
	}

	.content_type_clase_castilloprimaria2022demo .slide_main input.respuesta_ko {
		border-color: #FF3626;
		background: #FFA49D;
	}

	.content_type_clase_castilloprimaria2022demo .slide_main input.solucion {
		border-color: #00BDFF;
		background: #B6ECFF;
	}

	table {
		margin-bottom: 20px;
	}
/**/

/* Navigators */
	.navigator {
		bottom: -20px;
		left: 0;
		position: absolute;
		width: 100%;
		padding: 0px 97px;
	}

	.navigator .title {
		width: calc(100% - 20px);
		font-size: 1.9rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 4.8rem;
		display: inline-block;
		vertical-align: top;
	}

	.main-navigator {
		display: none;
		padding: 30px 0px 50px;
		width: 100%;
	}

	.navigator .left, .navigator .right {
		width: 50%;
		display: inline-block;
	}

	.navigator .right {
		text-align: right;
	}

	.navigator .slider-control.left,
	.navigator .slider-control.right {
		height: auto;
		width: 100%;
		background-color: transparent;
		border-radius: 0px;
		margin: 0px;
		opacity: 1;
		text-shadow: none;
		color: #f9bfad;
		font-size: 1.9rem;
		position: relative;
		top: auto;
		left: auto;
		cursor: pointer;
	}

	body:not(.android) .main-navigator .slider-control:not(.disabled):hover {
		color: #f77249;
	}

	.navigator .slider-control.left:before,
	.navigator .slider-control.right:after {
		font-family: 'FontAwesome';
		position: absolute;
		margin-top: 0;
		background: none;
		color: #f9bfad;
		border-radius: 120px;
		width: 48px;
		height: 48px;
		line-height: 4.8rem;
		text-align: center;
		font-size: 4.8rem;
	}

	.navigator .slider-control.left {
		padding-left: 58px;
	}
	.navigator .slider-control.right {
		left: 0;
		padding-right: 58px;
	}
	.navigator .slider-control.left:before {
		content: "\f104";
		left: 0;
		padding-right: 5px;
	}

	.navigator .slider-control.right:after {
		content: "\f105";
		right: 0;
		padding-left: 5px;
	}

	.navigator .slider-control span {
		position: static;
		margin: 0px;
        cursor: pointer;
	}
/**/

/* Navbar */
	.navbar-bottom {
		background: #eee;
		display: none;
	}
	.edit .navbar-bottom {
		display: block;
	}

	.slider-indicators {
	    padding-left: 100px;
	    padding-right: 100px;
	}

	.slider-indicators li,
	.edit .slider-indicators li {
		background-color: #f9bfad;
		color: #ffffff;
		opacity: 0.5;
	}

	.slider-indicators .active,
	.slider-indicators li:hover,
	.edit .slider-indicators li.active,
	.edit .slider-indicators .concat.active {
		opacity: 1;
	}
	.edit .slider-indicators .concat.active {
		color: #f9bfad;
	}

/**/

/* Navbar (Breadcums) */
	.content_type_clase_castilloprimaria2022demo .publisher-navbar {
		position: fixed;
		top: 44px;
		background: #ffffff;
		width: 100%;
		left: 0;
		height: 58px;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 0 9px;
	}

	/* BK-18572 Ajustar estilo en UX */
	.content_type_clase_castilloprimaria2022demo .publisher-navbar.tmpux {
		top: 0px;
	}

	.is_app.content_type_clase_castilloprimaria2022demo .publisher-navbar {
		position: fixed;
		top: 0px;
	}

	#top-navigator {
		height: 44px;
		overflow: hidden;
		position: relative;
	}

	#top-navigator.show_left:before, #top-navigator.show_right:after {
        color: #1d549e;
        top: 0px;
    }

    #top-navigator.show_left:before {
    	background: linear-gradient(to left, #1d549e4f, transparent);
    }

    #top-navigator.show_right:after {
    	background: linear-gradient(to left, #1d549e4f, transparent);
    }

	.content_type_clase_castilloprimaria2022demo .publisher-navbar .navbar-content {
		max-width: 960px;
		margin: 0 auto;
		padding-left: 90px;
		padding-right: 50px;
	}

	.content_type_clase_castilloprimaria2022demo .logo-publisher {
		display: block;
		margin-left: -48px;
	}
	.content_type_clase_castilloprimaria2022demo .logo-publisher {
		content: " ";
		background-image: url(logo-blink.png);
		height: 36px;
		background-repeat: no-repeat;
		width: 100px;
		margin-left: -100px;
		margin-right: 60px;
		float: left;
		background-size: contain;
	}

	.content_type_clase_castilloprimaria2022demo .slider-indicators {
		padding: 0;
		display: inline-block;
		text-align: center;
		position: relative;
		width: 5000px;
		bottom: 0px;
		left: 0px;
		z-index: 0;
		background-color: #ffffff;
	    color: #00599C;
	}

/*navaegacion navabar sup.*/
	.content_type_clase_castilloprimaria2022demo .publisher-navbar .dropdown button,
	.content_type_clase_castilloprimaria2022demo .publisher-navbar li {
		border-radius: 5px;
		border: none;
		background-color: transparent;
		color: #ffffff;
		vertical-align: middle;
		margin: 0px 5px;
		text-indent: 0px;
		line-height: 3.5rem;
		font-size: 2.0rem;
		font-weight: 400;
		cursor: pointer;
		background: #5ebdb2;
		border-radius: 120px;
	}
	.content_type_clase_castilloprimaria2022demo .publisher-navbar .dropdown button {
		background: none;
		color: #676767;
	}

	.content_type_clase_castilloprimaria2022demo .slider-indicators:after {
		content: '';
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.content_type_clase_castilloprimaria2022demo .slider-indicators li {
		width: 35px;
		height: 35px;
		margin: 0 8px 0 0;
		text-align: center;
		opacity: 0.8;
		position: relative;
		background: #A5BBD8;
	}

	.content_type_clase_castilloprimaria2022demo .slider-indicators li.active,
	.content_type_clase_castilloprimaria2022demo .publisher-navbar li:hover {
		opacity: 1;
		background:#1d549e;
	}

	#top-navigator .slider-indicators li {
		text-indent: 0;
	    border-radius: 10px;
	    box-shadow: 0px 3px 9px 0px #00000030;
	}

	.content_type_clase_castilloprimaria2022demo .publisher-navbar #top-navigator {
		float: none;
		margin-top: 10px;
		display: block;
	}

	.content_type_clase_castilloprimaria2022demo .publisher-navbar .dropdown {
		float: left;
		display: block;
	}

	.content_type_clase_castilloprimaria2022demo .publisher-navbar .dropdown button {
		width: auto;
		padding: 0px 10px;
	}

	.open > .dropdown-menu {
		display: block;
		max-height: 300px;
		overflow-y: auto;
	}

	.content_type_clase_castilloprimaria2022demo .publisher-navbar .dropdown button {
		border: none;
		color: #676767;
	}

	.content_type_clase_castilloprimaria2022demo .publisher-navbar .dropdown button:focus {
		outline: none;
	}

	.content_type_clase_castilloprimaria2022demo .publisher-navbar .dropdown li {
		display: list-item;
		width: auto;
		background: none;
	}

	.content_type_clase_castilloprimaria2022demo .publisher-navbar .dropdown li a {
		color: #676767;
	}

	.content_type_clase_castilloprimaria2022demo .publisher-navbar .dropdown .caret {
		border-color: #676767 transparent transparent transparent;
		margin-left: 6px;
	}

	.dropdown-menu>li>a:hover, 
	.dropdown-menu>li>a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #1d549e !important;
    font-weight: 700;
}
/**/

/* Pagination */

.js-slide-wrapper > .header .single-pagination {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 75px;
	height: 75px;
	background: #5ebdb2;
	color: #ffffff;
	font-size: 4.5rem;
	line-height: 4.5rem;
	padding: 2px 16px 2px 2px;
	font-family: 'Raleway', Georgia, serif;
	font-weight: bold;
	text-align: center;
	border-radius: 0 0 120px 0;
}

/* Iconos */

#actividad .player.audio {
	background: url(images/icono_audio.png) 0 0 no-repeat;
    background-size: contain;
    width: 42px;
    height: 42px !important;
    border-radius: 0;
    vertical-align: middle;
}

/*#actividad .player.video {
	background: url(images/castilloprimaria2022demo_video.png) 0 0 no-repeat;
	background-size: contain;
	width: 36px;
	height:24px;
	border-radius: 0;
	vertical-align: middle;

}*/

#actividad .bck-file-attach img {
	display: none;
}

/* CKEDITOR */

	.bck-title1,
	.bck-title2,
	.bck-title3,
	.bck-title-activity {
		font-family: 'Nunito';
	}

/*titulo 01*/
	.bck-title1 {
		font-size: 28px;
	    padding: 10px 40px 10px 98px;
	    margin-bottom: 25px;
	    color: #1d549e;
	    margin-left: -98px;
	    font-weight: 900;
	    font-family: 'Nunito';
	}

/*titulo 02*/
	.bck-title2 {
		font-weight: 700;
    color: #000;
    font-size: 2rem;
    font-family: 'Nunito';
    font-size: 25px;
	}

/*titulo 03*/
	.bck-title3 {
	font-weight: 700;
    color: #1d549e;
    font-family: 'Nunito';
    font-size: 25px;
	}

/*titulo 04*/
	.bck-title4 {
	font-weight: 900;
    color: #1d549e;
    font-family: 'Nunito';
    font-size: 25px;
	}	

/*tooltip*/
.bck-tooltip {
	    text-decoration: dotted;
    border-bottom: 1px dotted #1d549e;
    color: #1d549e;
    font-weight: 700;
    cursor: pointer;
}

.popover-title {
	margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nunito';
    line-height: 18px;
    background-color: #1d549e;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 0px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    white-space: normal;
}

.popover.top>.arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999;
    border-top-color: rgb(0 0 0 / 0%);
    bottom: -11px;
}

/*enfasis*/
	.bck-enfasis,
	strong {
		color: #f9bfad;
		font-weight: bold;
	}


/**subrayado*/
.bck-underline {
    text-decoration: underline;
    color: #1d539c;
}

/*hr*/
	.content hr,
	.cke_contents hr {
		border: 0;
		border-top: 2px dashed #f9bfad;
	}

/*pop up*/
#actividad .info-button {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 5px;
    cursor: pointer;
    background: url(images/icono_pop-up.png);
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: none;
}


.popover-template .popover-title {
    display: block;
    position: relative;
    background: #4A76B1;
    text-align: center;
    color: #fff;
    font-family: 'Nunito';
    padding-top: 15px;
    min-height: 35px;
}

.popover-template .popover-title:before {
	display: none;
}


.popover-template .popover-content {
    height: auto;
    overflow-y: auto;
    position: relative;
    font-family: 'Nunito';
    font-size: 1em;
}

.fa-info:before {
    content: "";
}

.fa-times:before {
    content: "\f00d";
    color: #fff;
}

/*listas*/

/*tamaño enunciado listas

#actividad .pregunta .texto_curso {
	font-size: 2.2rem;
}*/

#actividad textarea {
    font-size: 20px;
}

.texto_curso p:last-of-type {
    margin-bottom: 5px;
}

.texto_curso p {
    line-height: normal;
    margin-bottom: 20px;
}

#actividad .texto_curso {
    font-size: 22px;
}


/*----------------------LISTAS-----------------------*/

/*Tamaño general*/
#actividad .texto_curso li, #actividad .workspace ul li li {
    position: relative;
    margin-bottom: 10px;
    font-size: 2.2rem;
}

/*Globo corrección*/
#indice .unit-content .actividades .item .nota.ko {
    padding-top: 8px;
}


/*alineación izquierda todas*/
.texto_curso ul, 
.texto_curso ol, 
.workspace:not(.multiple-choice,.matching,.ordenar,.clasificar,.test) ul li ul, 
.workspace:not(.multiple-choice,.matching,.ordenar,.clasificar,.test) ul li ol, 
.cke_contents ul, 
.cke_contents ol, 
.popover-content ul, 
.popover-content ol {
    margin-bottom: 20px;
    margin-left: -21px;
}

#actividad .workspace.multiple-choice .opcion>ol, 
#actividad .workspace.multiple-choice .opcion>ul {
margin-left: auto;
}


#actividad .content .cke_contents .bck-ol li:before,
#actividad .content .texto_curso .bck-ol li:before,
#actividad .popover-content .bck-ol li:before,
#actividad .content .workspace ul li .bck-ol li:before {
	/*content: counter(bck-li-counter);*/
	position: relative;
	text-align: left;
	font-size: 1.9rem;
	font-family: sans-serif;
	margin-left: -10px;
}

/*LISTA ORDENADA 1*/
#actividad .content .cke_contents .bck-ol-1,
#actividad .content .texto_curso .bck-ol-1,
#actividad .content .workspace ul li .bck-ol-1 {
	list-style-type: none;
	counter-reset: bck-li-counter;
	padding-left: 44px;
}

#actividad .content .cke_contents .bck-ol-1 li,
#actividad .content .cke_contents .bck-ol-1 li,
#actividad .content .texto_curso .bck-ol-1 li,
#actividad .popover-content .bck-ol-1 li,
#actividad .content .workspace ul li .bck-ol-1 li {
	counter-increment: bck-li-counter;
    padding-left: 0px;
    position: relative;
    z-index: 0;
    font-weight: 800;
    font-size: 16px;
    font-family: 'Nunito';
}

#actividad .content .cke_contents .bck-ol-1 li:before,
#actividad .content .texto_curso .bck-ol-1 li:before,
#actividad .popover-content .bck-ol-1 li:before,
#actividad .content .workspace ul li .bck-ol-1 li:before {
	margin-left: -13px;
}

#actividad .content .cke_contents .bck-ol-1 li:before,
#actividad .content .texto_curso .bck-ol-1 li:before,
#actividad .popover-content .bck-ol-1 li:before,
#actividad .content .workspace ul li .bck-ol-1 li:before {
	content: counter(bck-li-counter) ".";
    font-family: 'Nunito';
    font-weight: 800;
    position: absolute;
    text-align: right;
    color: #1d549e;
    font-size: 25px;
    margin-top: 0px;
    left: -25px;
    top: -2px;
}



/*LISTA ORDENADA 2*/
#actividad .content .cke_contents .bck-ol-2,
#actividad .content .texto_curso .bck-ol-2,
#actividad .content .workspace ul li .bck-ol-2 {
	list-style-type: none;
	counter-reset: bck-li-counter;
	padding-left: 77px;
}

#actividad .content .cke_contents .bck-ol-2 li,
#actividad .content .cke_contents .bck-ol-2 li,
#actividad .content .texto_curso .bck-ol-2 li,
#actividad .popover-content .bck-ol-2 li,
#actividad .content .workspace ul li .bck-ol-2 li {
	counter-increment: bck-li-counter;
    padding-left: 0px;
    position: relative;
    z-index: 0;
    font-size: 16px;
    font-family: 'Nunito';
    color: #676767;
}

#actividad .content .cke_contents .bck-ol-2 li:before,
#actividad .content .texto_curso .bck-ol-2 li:before,
#actividad .popover-content .bck-ol-2 li:before,
#actividad .content .workspace ul li .bck-ol-2 li:before {
	margin-left: -13px;
}

#actividad .content .cke_contents .bck-ol-2 li:before,
#actividad .content .texto_curso .bck-ol-2 li:before,
#actividad .popover-content .bck-ol-2 li:before,
#actividad .content .workspace ul li .bck-ol-2 li:before {
	content: counter(bck-li-counter, lower-alpha)')';
    font-family: 'Nunito';
    font-weight: 700;
    position: absolute;
    text-align: right;
    color: #f8b100;
    font-size: 25px;
    /* width: 31px; */
    margin-top: 0px;
    left: -25px;
    top: -2px;
}


/*LISTA ORDENADA 3*/
#actividad .content .cke_contents .bck-ol-3,
#actividad .content .texto_curso .bck-ol-3,
#actividad .content .workspace ul li .bck-ol-3 {
	list-style-type: none;
	counter-reset: bck-li-counter;
	padding-left: 44px;
}

#actividad .content .cke_contents .bck-ol-3 li,
#actividad .content .cke_contents .bck-ol-3 li,
#actividad .content .texto_curso .bck-ol-3 li,
#actividad .popover-content .bck-ol-3 li,
#actividad .content .workspace ul li .bck-ol-3 li {
	counter-increment: bck-li-counter;
    padding-left: 0px;
    position: relative;
    z-index: 0;
    font-weight: 800;
    font-size: 16px;
    font-family: 'Nunito';
     color: #1d549e;
}

#actividad .content .cke_contents .bck-ol-3 li:before,
#actividad .content .texto_curso .bck-ol-3 li:before,
#actividad .popover-content .bck-ol-3 li:before,
#actividad .content .workspace ul li .bck-ol-3 li:before {
	margin-left: -13px;
}

#actividad .content .cke_contents .bck-ol-3 li:before,
#actividad .content .texto_curso .bck-ol-3 li:before,
#actividad .popover-content .bck-ol-3 li:before,
#actividad .content .workspace ul li .bck-ol-3 li:before {
	content: counter(bck-li-counter) ".";
    font-family: 'Nunito';
    font-weight: 800;
    position: absolute;
    text-align: right;
    color: #1d549e;
    font-size: 25px;
    margin-top: 0px;
    left: -25px;
    top: -2px;
}



/*LISTAS DESORDENADAS*/
.texto_curso ul li {
	padding-left: 40px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before,
.preview ul li:before,
.classify-item ul li:before,
#actividad .workspace.multiple-choice .js-item ul li:before,
#actividad .workspace.matching .box ul li:before,
#actividad .workspace.ordenar .js-rank-item ul li:before {
	content: "";
	height: 6px;
	width: 6px;
	background-color: #333;
	color: #333;
	border-radius: 50%;
}

/*lista desordenada por defecto, sin seleccionar estilo para la ul*/
#actividad .content .texto_curso ul li:before,
#actividad .content .workspace ul li ul li:before {
	content: "";
	height: 9px;
	width: 9px;
	background-color: #fff;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#actividad .content .texto_curso ul li::before,
#actividad .content .workspace ul li ul li::before,
#actividad .content .texto_curso .bck-ul li::before,
#actividad .content .workspace ul li .bck-ul li::before,
#actividad .popover-background.shown .popover-content>ul>li::before {
	content: "";
	height: 6px;
	width: 6px;
	background-color: #333;
	color: #333;
	border-radius: 50%;
	position: absolute;
	margin-top: .45em;
	margin-left: 6px;
}

	.texto_curso ul li,
	.workspace ul li ul li,
	.cke_contents ul li {
		position: relative;
		padding-left: 18px;
		margin-bottom: 20px;
	}

/*LISTA DESORDENADA 1*/
#actividad .content .cke_contents .bck-ul-1,
#actividad .content .texto_curso .bck-ul-1,
#actividad .content .workspace ul li .bck-ul-1 {
	list-style-type: none;
    padding-left: 71px;
}

#actividad .content .cke_contents .bck-ul-1 li,
#actividad .content .cke_contents .bck-ul-1 li,
#actividad .content .texto_curso .bck-ul-1 li,
#actividad .popover-content .bck-ul-1 li,
#actividad .content .workspace ul li .bck-ul-1 li {
	position: relative;
	list-style: none;
	margin-bottom: 10px;
	margin-left: 8px;
    padding-left: 0px;
    font-size: 16px;
    font-family: 'Nunito';
    color: #676767;
}

#actividad .content .cke_contents .bck-ul-1 li:before,
#actividad .content .texto_curso ul.bck-ul-1 li:before,
#actividad .popover-content ul.bck-ul-1 li:before,
#actividad .content .workspace ul li ul.bck-ul-1 li:before {
	content: "";
    height: 8px;
    width: 8px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    margin-top: 0.45em;
    margin-left: -24px;
}


/*LISTA DESORDENADA 2*/
#actividad .content .cke_contents .bck-ul-2,
#actividad .content .texto_curso .bck-ul-2,
#actividad .content .workspace ul li .bck-ul-2 {
	list-style-type: none;
    padding-left: 71px;
}

#actividad .content .cke_contents .bck-ul-2 li,
#actividad .content .cke_contents .bck-ul-2 li,
#actividad .content .texto_curso .bck-ul-2 li,
#actividad .popover-content .bck-ul-2 li,
#actividad .content .workspace ul li .bck-ul-2 li {
	position: relative;
	list-style: none;
	margin-bottom: 10px;
	margin-left: 8px;
    padding-left: 0px;
    font-size: 16px;
    font-family: 'Nunito';
    color: #676767;
}

#actividad .content .cke_contents .bck-ul-2 li:before,
#actividad .content .texto_curso ul.bck-ul-2 li:before,
#actividad .popover-content ul.bck-ul-2 li:before,
#actividad .content .workspace ul li ul.bck-ul-2 li:before {
	content: "";
    height: 8px;
    width: 8px;
    background-color: #f8b100;
    border-radius: 50%;
    position: absolute;
    margin-top: 0.45em;
    margin-left: -24px;
}
/**/

	.content figure:first-child:last-child,
	.content .js--row figure,
	.cke_contents figure:first-child:last-child,
	.cke_contents .js--row figure {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}

	.content figure figcaption,
	.cke_contents figure figcaption {
		text-align: left;
		margin-top: 10px;
	}

	.cke_contents table:not(.rf-tablegrid),
	.content table:not(.rf-tablegrid) {
		border: 1px solid #CBCCCD;
	}

	.cke_contents table:not(.rf-tablegrid) td,
	.cke_contents table:not(.rf-tablegrid) th,
	.content table:not(.rf-tablegrid) td,
	.content table:not(.rf-tablegrid) th {
		border: 1px solid #CBCCCD;
		padding: 7px;
	}

	.cke_contents table:not(.rf-tablegrid) caption,
	.content table:not(.rf-tablegrid) caption {
		margin-bottom: 10px;
	}



	/*.bck-box {
		margin-bottom: 30px;
	}
	.bck-box.center {
		margin-left: auto;
		margin-right: auto;
	}

	.bck-box .bck-title {
		font-size: 2.5rem;
		margin-bottom: 10px;
	}*/


	/*caja 01*/
	.bck-box.box-1 {
    border: 1px solid #1D549E;
    padding: 20px 10px 10px 20px;
    margin-top: 30px;
    border-radius: 25px;
    margin-bottom: 30px;
	}

	.bck-box.box-1 > .bck-title {
    background-color: #fff;
    width: fit-content;
    border-radius: 10px;
    position: relative;
    margin-top: -25px;
    margin-left: -10px;
    padding: 5px 5px 0px 5px;
}



.bck-box.box-1 > .bck-title p {
    color: #000;
    font-size: 25px;
    font-weight: 700;
}

	.bck-box.box-1 > .bck-content {
	background-color: rgb(219 228 239);
    border-radius: 20px;
    padding: 68px 13px 21px 30px;
    position: relative;
    margin-top: -63px;
    margin-left: -31px;
    z-index: -1;
	}	

	.bck-box.box-1 > .bck-content p {
    color: #000;

}


/*caja 02*/
	.bck-box.box-2 {
	border: 0;
    padding: 20px;
    background-color: #1d549e;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 1px #09305447;
}

.bck-box.box-2 > .bck-title p {
	    color: #fff;
    font-size: 25px;
    font-weight: 700;
}


.bck-box.box-2 > .bck-title {
margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 40px 40px 0 0;
    padding: 14px 20px 10px;
    color: #ffffff;
    background: none;
}

.bck-box.box-2 > .bck-content p {
    color: #fff;

}

/*caja 03*/
.bck-box.box-3 {
    border: 0;
    padding: 20px;
    border: 5px solid #f8b100;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 1px #0003;
}

.bck-box.box-3 > .bck-title {
 background: none;
}


.bck-box.box-3 > .bck-title p {
	    color: #000;
    font-size: 25px;
    font-weight: 700;
}

.bck-box.box-3 > .bck-content p {
    color: #676767;

}


/*caja 04*/
.bck-box.box-4 {
    border: 0;
    padding: 20px;
    /* border: 5px solid #f8b100; */
    box-shadow: 0 0 0 1px #1d549e, 0 0 0 3px #88a5cc, 0 0 0 5px #88a5cc, 0 0 0 6px #1d549e;
    outline: dashed 7px #1d549e;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 20px;
    /* box-shadow: 0px 4px 8px 1px #0003; */
}

.bck-box.box-4 > .bck-title {
 background: none;
}


.bck-box.box-4 > .bck-title p {
	    color: #1d549e;
    font-size: 25px;
    font-weight: 700;
}

.bck-box.box-4 > .bck-content p {
    color: #676767;

}

/*caja 05*/
.bck-box.box-5 {
    border: 0;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 10px;
    background-image: url(images/icono_caja05c.jpg);
    background-repeat: repeat-y;
    background-position: right;
    box-shadow: 0px 4px 8px 1px #0003;
}


.bck-box.box-5 > .bck-title {
color: #1d549e;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: -60px;
    text-align: center;
}

.bck-box.box-5 > .bck-title p {
	    color: #1d549e;
    font-size: 25px;
    font-weight: 700;
}

.bck-box.box-5 > .bck-title:before {
background-image: url(images/icono_caja05.png);
    content: " ";
    position: absolute;
    left: -53px;
    z-index: 100;
    padding: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.bck-box.box-5 > .bck-title:after {
background-image: url(images/icono_caja05b.png);
    content: " ";
    position: absolute;
    right: -51px;
    top: 0px;
    z-index: 100;
    padding: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}


/*desplegables*/
.bck-dropdown {
	border-radius: 10px 10px 0 0;
    background-color: #1d549e;
}

.bck-dropdown-icon {
width: 40px;
    height: 42px;
    background-color: #4a76b1;
    display: inline-block;
    float: right;
    margin-top: -10px;
    margin-right: -9px;
    border-radius: 0 10px 0 0;
}

.fa-chevron-down:before {
    content: "\f078";
    color: #fff;
    vertical-align: sub;
}

.fa-chevron-up:before {
    content: "\f077";
    color: #fff;
    vertical-align: sub;
}

.bck-dropdown-content {
    border-left: 2px dotted #1d549e;
    border-right: 2px dotted #1d549e;
    border-bottom: 2px dotted #1d549e;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
    display: none;
    max-height: none;
    padding: 22px 22px 10px 22px;
    background-color: white;
}

.bck-dropdown-titulo {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    padding-left: 10px;
    color: #fff;
    font-family: 'Nunito';
    padding-left: 31px;
}

.bck-dropdown-icon>.fa {
    display: inline-block;
    border: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 7px;
    width: 100%;
    height: 100%;
    text-align: center;
}


/*flipbox*/
body:not(.edit) .bck-flipbox-face.front {
	    color: #1d549e;
    background-color: #DBE4EF;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    border: none;
}

body:not(.edit) .front .bck-flipbox-section,
body:not(.edit) .front .bck-flipbox-title {
	color: #1d549e;
}

body:not(.edit) .bck-flipbox-face.back {
    background-color: #1d549e;
    border: none;
}

body:not(.edit) .back .bck-flipbox-title, body:not(.edit) .back .bck-flipbox-section {
    color: #fff;
}

body:not(.edit) .bck-flipbox-face.front p {
    color: #1d549e;
    text-align: center;
    font-size: 22px;
}

body:not(.edit) .bck-flipbox-face.back p {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

/*taBlas*/
	.bck-td {
		background: #dcdcdc;
	}

	/*tablas*/

.bck-table,table {
    border: 1px dotted #1D549E;
}

.bck-table td,table td {
    border-color: #1D549E;
}

td,th {
    padding-left: 10px
}

.cke_contents table:not(.rf-tablegrid) td, 
.cke_contents table:not(.rf-tablegrid) th, 
.content table:not(.rf-tablegrid) td, 
.content table:not(.rf-tablegrid) th {
	border: 1px solid #1d549e;
}

/*celdas*/
.bck-td-2 {
    background: #8CB5D1;
}

.bck-td-3 {
    background: #E9EFF5;
}

.bck-td-4 {
    background: #ffffff;
}

/*tabs*/
body:not(.edit) .bck-tabs-box {
	background-color: #ffffff;
    border: none;
}

.bck-tabtitles {
    background-color: #E9EFF5;
    overflow: hidden;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 14px;
    transition: .3s;
    display: inline-block;
    float: left;
    border-radius: 10px 10px 0 0;
    margin-left: 4px;
    color: #1d549e;
    font-weight: 700;
}

.bck-tabtitles:hover {
    background-color: #1d549e;
    color: #fff;
}

body:not(.edit) .bck-tabcontents .div-contents {
    display: none;
    padding: 6px 12px;
    background-color: #fff;
    padding: 6px 12px;
    border-left: 0;
    border-top: 1px solid #1d549e;
    max-height: 100%;
    max-width: 100%;
}

body:not(.edit) .bck-tabcontents .div-contents {
    display: none;
    padding: 6px 12px;
    background-color: #fff;
    padding: 15px 12px;
    border-left: 0;
    border-top: 1px solid #1d549e;
    max-height: 100%;
    max-width: 100%;
    color: #676767;
}

/*botonera*/
#actividad .btn-danger, #actividad .btn-danger[disabled] {
    color: #fff;
    background-color: #90bf55;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #00000059;
    border-color: transparent;
    font-weight: 600;
}

#actividad .btn-danger:hover, .btn-danger:focus, 
#actividad .btn-danger:active, .btn-danger.active, 
#actividad .open .dropdown-toggle.btn-danger {
	    color: #fff;
    background-color: #90bf55;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #00000059;
    border-color: transparent;
    font-weight: 600;
}


#actividad .btn-primary {
	color: #fff;
    background-color: #1d549e;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #00000059;
    border-color: transparent;
    opacity: 1;
    font-weight: 600;
}

#actividad .btn-primary:not([disabled]):hover, 
#actividad .btn-primary:not([disabled]):focus, 
#actividad .btn-primary:not([disabled]):active, 
#actividad .btn-primary.active, 
#actividad .open .dropdown-toggle.btn-primary {
color: #fff;
    background-color: #1d549e;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #00000059;
    border-color: transparent;
    opacity: 1;
    font-weight: 600;
}

#actividad .btn-primary[disabled], 
#actividad .btn-primary[disabled]:focus {
	color: #fff;
    background-color: #1d549e;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #00000059;
    border-color: transparent;
    opacity: 1;
    font-weight: 600;
}

#actividad .btn-solution, 
#actividad .btn-solution.disabled, 
#actividad .btn-solution[disabled], 
#actividad .btn-next, 
#actividad .btn-next.disabled, 
#actividad .btn-next[disabled] {
	color: #fff;
    background-color: #1eb3c6;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #00000059;
    border-color: transparent;
    opacity: 1;
    font-weight: 600;
}

#actividad .btn-solution:hover, 
#actividad .btn-solution:focus, 
#actividad .btn-solution:active, 
#actividad .btn-next:hover, 
#actividad .btn-next:focus, 
#actividad .btn-next:active, 
#actividad .open .dropdown-toggle.btn-solution {
	color: #fff;
    background-color: #1eb3c6;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #00000059;
    border-color: transparent;
    opacity: 1;
    font-weight: 600;
}

.btn-danger, .btn-danger[disabled] {
    color: #fff;
    background-color: #fc4237;
    border-color: transparent;
}

#actividad .content .review .attemps span {
    width: 35px;
    height: 35px;
    font-weight: 900;
    color: #000;
    background-color: #e1e1e1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    padding: 6px 12px;
    margin: 0 3px;
    display: inline-block;
    line-height: 24px;
}

/*actividades*/
/*verdadero falso
/*--- Verdadero y falso -----*/
.true-false .checkbox-option label.filter-label {
    font-size: 18px;
}
.workspace.true-false .radio-option input.filter-radio[type="radio"]+label.filter-label {
    font-size: 18px;
    display: flex;
    align-items: center;
    line-height: 24px;
    padding-left: 30px;
}

#actividad .workspace.true-false .checkbox-option input.filter-checkbox[type="checkbox"]+label.filter-label, 
#actividad .workspace.true-false .radio-option input.filter-radio[type="radio"]+label.filter-label, 
#actividad .workspace.test .checkbox-option input.filter-checkbox[type="checkbox"]+label.filter-label, 
#actividad .workspace.test .radio-option input.filter-radio[type="radio"]+label.filter-label {
    padding: 5px;
    padding-left: 32px;
    border-radius: 3px;
    border: 5px solid transparent;
    border-radius: 7px;
    color: #676767;
}



/*Damos formatos a los checkbox*/
.true-false .radio-option label.filter-label::before {
    background: none;
    display: inline-block;
    width: 26px;
    height: 25px;
    border: 2px solid #f8b100;
    border-radius: 50%;
    line-height: 22px;
    font-family: 'FontAwesome';
    color: #f8b100;
    display: flex;
    justify-content: center;
}




.true-false .radio-option input.filter-radio[type="radio"]:checked + label.filter-label::before {
    position: absolute;
    border-color: #f8b100;
    background-color: transparent;
    content: '\f111';
}


/*.true-false .radio-option input.filter-radio[type="radio"]:checked + label.filter-label::after {
    position: absolute;
    content: "";
    background-color: #f8b100;
    width: 12px;
    height: 12px;
    top: 11px;
    left: 6px;
    border-radius: 50%;
}*/

/*ok*/
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.respuesta_ok.filter-label::before {
    border: 2px solid #90BF55;
    color: #90BF55;
}
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.respuesta_ok.filter-label::after {
	content: "\f00c";
    color: #90BF55;
    font-family: 'FontAwesome';
    left: 93px;
    font-size: 43px;
    background-color: transparent;
    top: 4px;
        position: absolute;
}

#actividad .workspace.test .respuesta_ok, 
#actividad .workspace.true-false .respuesta_ok {
    background-color: #EDF5E4;
    border-color: #EDF5E4;
}


/*ko*/

.true-false .radio-option input.filter-radio[type="radio"]:checked + label.respuesta_ko.filter-label::before {
    border: 2px solid #E33939;
    color: #E33939;
}
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.respuesta_ko.filter-label::after {
	content: "\f00d";
    color: #E33939;
    font-family: 'FontAwesome';
    left: 93px;
    font-size: 43px;
    background-color: transparent;
    top: 4px;
        position: absolute;
}

#actividad .workspace.test .respuesta_ko, 
#actividad .workspace.true-false .respuesta_ko {
    background-color: #F9D7D7;
    border-color: #f9d7d7;
}

/*solucion*/
#actividad .workspace.test .solucion, 
#actividad .workspace.true-false .solucion {
    border: transparent;
    background-color: #D2F0F4;
}

 .true-false .radio-option input.filter-radio[type="radio"]:checked + label.solucion.filter-label::before {
	border-color: #1EB3C6;
    content: '\f111';
    color: #1EB3C6;
}

.true-false .radio-option input.filter-radio[type="radio"]:checked + label.solucion.filter-label::after {
    display: none;
}


/*respuesta multiple*/
#actividad .workspace.multiple-choice .opcion {
	border: 3px solid #fbd066;
	border-radius: 10px;
}

#actividad .workspace.multiple-choice .opcion.respuesta_checked {
	border-color: #1D549E;
    background-color: #DBE4EF;
}

#actividad .workspace.multiple-choice .opcion.respuesta_ok {
	border-color: #90bf55;
    background-color: #edf5e4;
}


#actividad .workspace.multiple-choice .opcion.respuesta_ko {
    border-color: #e33939;
    background-color: #f9d7d7;
}

#actividad .workspace.multiple-choice .opcion.solucion {
    border-color: #1eb3c6;
    background-color: #d2f0f4;
}

/*rellenar espacios*/
.content_type_clase_castilloprimaria2022demo .slide_main input {
	border: 2px solid #fbd066;
    border-radius: 10px;
    height: 2.2em;
}

.content_type_clase_castilloprimaria2022demo .slide_main input:focus {
    border-top-color: #3AC62A;
    border-right-color: #3AC62A;
    border-bottom-color: #3AC62A;
    border-left-color: #3AC62A;
    outline-width: 0px;
    outline-style: none;
    box-shadow: none;
    border: 2px solid #f8b100;
    border-radius: 10px;
}

.content_type_clase_castilloprimaria2022demo .slide_main input.respuesta_ko {
    border-color: #e33939;
    background: #f9d7d7;
}

.content_type_clase_castilloprimaria2022demo .slide_main input.respuesta_ok {
    border-color: #90bf55;
    background: #edf5e4;
}
.content_type_clase_castilloprimaria2022demo .slide_main input.solucion {
    border-color: #1eb3c6;
    background: #d2f0f4;
}

.popover.multiple-solution {
    background-color: #b6ecff;
    border: 2px solid #1eb3c6;
    border-radius: 10px;
}

.fillblanks-draggable-wrapper .response {
    margin: 2px;
    min-width: 100px;
    border: 2px solid #fbd066;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 10px;
    cursor: pointer;
}

/*.content_type_clase_castilloprimaria2022demo .slide_main input[disabled],
.content_type_clase_castilloprimaria2022demo .slide_main input[readonly],
fieldset[disabled] .content_type_clase_castilloprimaria2022demo .slide_main input {
    cursor: not-allowed;
    background-color: #fef5e0;
    opacity: 1;
}*/

/*drag and drop*/
#actividad .drag .circulo_gris p {
    background: url(images/drop_izquierda2.png) 0 0 no-repeat;
    padding: 0 10px 0 30px;
    word-wrap: break-word;
}

#actividad .multimedia-container .circulo_gris.ver:after {
background-color: #fff;
    border: 2px solid #f8b100;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 23%);
    height: 18px;
    width: 18px;
}


.multimedia-container .respuesta.drop_ok:after, 
.multimedia-container .answer.drop_ok span:before {
background-color: #90bf55;
}

.multimedia-container .respuesta.drop_ok:after, 
.multimedia-container .answer.drop_ok span:before, 
.multimedia-container .respuesta.drop_ko:after, 
.multimedia-container .answer.drop_ko span:before {
    background-image: none;
    color: #ffff;
    font-size: 16px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    padding: 0px 3px;
    -webkkit-transform: translate(-12%, -5%);
    -moz-transform: translate(-12%, -5%);
    transform: translate(-12%, -5%);
}

.multimedia-container .respuesta.drop_ko:after, 
.multimedia-container .answer.drop_ko span:before {
    background-color: #e33939;;
    padding: 0 4px;
}

#actividad .multimedia-container .circulo_gris.editar:before,  
#actividad .multimedia-container .circulo_gris.respuesta:before {
min-height: 12px;
    color: #fff;
    text-align: center;
    background: #000000b0;
    margin: -2px 21px -14px 25px;
    padding: 2px 5px;
    z-index: -1;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    min-width: 100px;
    text-align: center;
    border-radius: 5px;
}

#actividad .multimedia-container .circulo_gris.respuesta.drop_ok:before, 
#actividad .multimedia-container .circulo_gris.respuesta.drop_ko:before {
    text-align: center;
}


#actividad .multimedia-container .circulo_gris.ver.drop_solucion:after {
    background: #f8b100;
    -webkit-box-shadow: 0 0 5px 1px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0 0 5px 1px rgb(0 0 0 / 75%);
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 75%);
    border-radius: 50%;
    border-: 2px solid #f8b100;
}

#actividad .multimedia-container .circulo_gris.drop_solucion:before {
	min-height: 12px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.7);
    margin: 7px 21px -14px 32px;
    padding: 2px 5px;
    z-index: -1;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    min-width: 100px;
    border-radius: 4px;
}

/*arrastrar imagenes*/
.fillblankimages-draggable-wrapper .response.used p:before {
	border-top: 1px solid #342826;
    transform: rotateZ(-45deg);
}

.fillblankimages-draggable-wrapper .response.used {
	opacity: .3!important;
}

.slide_main .fillblankimages-draggable .img-input-container.respuesta_ok {
    border-color: #90BF55;
    border: solid 2px #90BF55;
    background-color: transparent;
    border-radius: 10px;
}

.slide_main .fillblankimages-draggable .img-input-container.respuesta_ko {
	border: solid 2px #E33939;
    border-radius: 10px;
    background-color: transparent;
}

.slide_main .fillblankimages-draggable .img-input-container.solucion {
		border: solid 2px #1EB3C6;
    border-radius: 10px;
    background-color: transparent;
}

.fillblankimages-draggable .img-input-container.imgFilled img {
	box-shadow: none !important;
}

/*arrastrar imagen a imagen*/
#actividad .image-over-image .drag_image-over-image li img {
	box-shadow: none;
}

/*marcar palabras*/
#actividad .markword-active {
    border-radius: 12px !important;
    padding: 4px !important;
    border: 2px solid #F8B100 !important;
}

#actividad .markword-correct {
    padding: 4px !important;
    color: #90BF55 !important;
    background-color: #d8efbe !important;
    border-radius: 12px !important;
    border: 2px solid #90BF55 !important;
}

#actividad .markword-false {
    padding: 4px !important;
    color: #E33939 !important;
    background-color: #ffbfbf !important;
    border-radius: 12px !important;
    border: 2px solid #E33939 !important;
}

/*cálculo num*/
#actividad .workspace.calculo .cifra {
    text-align: center;
    width: 18px;
    padding: 0;
    font-weight: 700;
}

#actividad .workspace.calculo .cifra input[type=text], 
#actividad .workspace.calculo .cifra input[type=tel] {
text-align: center;
    width: 25px;
    border-radius: 5px;
    height: 35px;
    margin: 2px;
    padding: 0px;
    border: 2px solid #fbd066;
}

#actividad .workspace.calculo .cifra input[type=text]:focus,
#actividad .workspace.calculo .cifra input[type=tel]:focus {
    border: 2px solid #F8B100;
}

.content_type_clase_castilloprimaria2022demo .slide_main input.respuesta_ok {
    border-color: #90bf55;
    border: 2px solid #90BF55!important;
    background: #EDF5E4;
}

.content_type_clase_castilloprimaria2022demo .slide_main input.respuesta_ko {
    border-color: #FF3626 !important;
    background: #FFA49D;
}
/*match*/
#actividad .workspace.matching .opcion {
	border: 2px solid #F8B100;
}
#actividad .workspace.matching .opcion img {
    max-width: 80%;
    margin: 0;
    box-shadow: none;
}

/*ordenar*/
#actividad .workspace.ordenar .js-rank-item {
    border: 3px solid #F8B100;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
}

/*clasificar*/
#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 0;
    padding: 0px;
    box-shadow: 0 0 0 1px #1d549e, 0 0 0 3px #88a5cc, 0 0 0 5px #88a5cc, 0 0 0 6px #1d549e;
    outline: dashed 7px #1d549e;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 20px;
    margin: 0 10px;
}

#actividad .workspace.clasificar .clasificar_conjuntos .group-name-top {
text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #EDF1F7;
    display: table;
    width: 100%;
    margin: 0px;
    margin-top: -1px;
    background-color: #EDF1F7;
    color: #1D549E;
    padding: 10px;
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    border: 3px solid #F8B100;
}

#actividad .workspace.clasificar .clasificar_lista li>p {
    text-align: center;
    margin: 0;
    position: relative;
    top: 40%;
    transform: translateY(-35%);
}

/**/

@media screen and (max-width: 1099px) {
    .body_clase .content-wrapper {
        max-width: 100%;
    }

    #actividad .content {
        border-radius: 0;
    }

    #actividad .carousel-inner .item-container {
        margin: 0;
        width: 100% !important;
        max-width: none;
        box-shadow: none;
    }

    .ipad #actividad .carousel-inner .item-container {
  		border-right: 1px solid #eee;
    }

    .content_type_clase_castilloprimaria2022demo .logo-publisher {
		margin-right: 0px;
	}
}

@media screen and (max-width: 992px) {
	#actividad .class_slide {
		padding-right: 30px;
		padding-left: 30px;
	}

	.content_type_clase_castilloprimaria2022demo #actividad .content .header .title h3 {
		margin-left: -30px;
		padding-left: 20px;
		padding-right: 50px;
	}
	.js-slide-wrapper > .header .single-pagination {
		right: 0;
		left: auto;
		border-radius: 0 0 0 120px;
		padding-left: 16px;
		padding-right: 2px;
	}
	.navigator {
		padding-left: 30px;
		padding-right: 30px;
	}
	.content_type_clase_castilloprimaria2022demo .publish {
		padding-left: 25px;
	}
	.content_type_clase_castilloprimaria2022demo .logo-publisher {
		margin-left: -20px;
	}

}

@media screen and (max-width: 767px) {
    #actividad .carousel-inner .class_slide {
        padding: 40px 20px 0px;
    }

    .navigator {
        padding: 0px 20px;
    }

    .bck-img.right, img[style~="float:right"] {
        max-width: 50%
    }

    .bck-img.left, img[style~="float:left"] {
        max-width: 50%
    }
	.content_type_clase_castilloprimaria2022demo .publisher-navbar {
		top: 88px;
	}

	.content_type_clase_castilloprimaria2022demo .logo-publisher {
		margin-right: -20px;
	}

}

@media screen and (max-width: 579px) {
	.bck-row .col-xs-1,
	.bck-row .col-xs-2,
	.bck-row .col-xs-3,
	.bck-row .col-xs-4,
	.bck-row .col-xs-5,
	.bck-row .col-xs-6,
	.bck-row .col-xs-7,
	.bck-row .col-xs-8,
	.bck-row .col-xs-9,
	.bck-row .col-xs-10,
	.bck-row .col-xs-11,
	.bck-row .col-xs-12 {
		width: 100%;
		float: none;
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 480px) {

    .bck-img.right, img[style~="float:right"] {
        width: 100%;
    }

    .bck-img.left, img[style~="float:left"] {
        width: 100%;
    }

    #actividad .carousel-inner .item-container {
		padding: 40px 20px 90px;
	}
	.content_type_clase_castilloprimaria2022demo .publisher-navbar .navbar-content {
		padding-left: 20px;
		padding-right: 20px;
	}
	.content_type_clase_castilloprimaria2022demo .publisher-navbar .logo-publisher:before {
		content: none;
		display: none;

	}
	#actividad .carousel-inner .item-container {
		padding-top: 13px;
	}
	.js-slide-wrapper > .header .single-pagination {
		padding-top: 15px;
		font-size: 2.4rem;
		width: 60px;
	}
	.content_type_clase_castilloprimaria2022demo #actividad .content .header .title h3 {
		padding-right: 20px;
		margin-bottom: 20px;
	}

}

/*BK-10860*/
/*
 * Me cargo todos los border que hay por debajo de un ejercicio de cálculo y restauro los necesarios
 *
 */
div.calculo table.marco,
div.calculo table.marco * {
	border:none;
}

.content hr, .cke_contents hr {
    border-top: 2px solid #F8B100 !important;
}

/*.content_type_clase_castilloprimaria2022demo .slide_main input {
    border: 1px solid #ccc !important;
}*/

/* TMPUX STYLES */
.tmpux.content_type_clase_castilloprimaria2022demo.modo_revision .castilloprimaria2022demo-navbar,
.tmpux.content_type_clase_castilloprimaria2022demo.modo-correccion .castilloprimaria2022demo-navbar,
.tmpux.content_type_clase_castilloprimaria2022demo.modo-deber .castilloprimaria2022demo-navbar {
		top: 0;
		display: block !important;
	}
	
.tmpux.body_clase .content-wrapper {
	margin-top: 10px;
}

.body_clase.android.app.is_app.isTablet #actividad .carousel-inner .item-container.tmpux {
	margin-top: 10px;
}

body.is_app.tmpux.isTablet.modo-correccion.content_type_clase_castilloprimaria2022demo.content_type_curso_castilloprimaria2022demo .content-wrapper,
body.is_app.tmpux.isTablet.modo-revision.content_type_clase_castilloprimaria2022demo.content_type_curso_castilloprimaria2022demo .content-wrapper,
 body.app:not(.offline-pc).tmpux.isTablet.modo-correccion.content_type_clase_castilloprimaria2022demo.content_type_curso_castilloprimaria2022demo .content-wrapper, 
 body.app:not(.offline-pc).tmpux.isTablet.modo-revision.content_type_clase_castilloprimaria2022demo.content_type_curso_castilloprimaria2022demo .content-wrapper {
	margin-top: 10px;
 }
